h1 {color:darkblue}
h3 {color: darkcyan}
* {margin: 10px;
    padding: 2px;}

*{background-color: lightgrey;}
*{font-family: 'Times New Roman', Times, serif;}



.banner{border-radius: 32px;
        margin:10px 10px;
        padding: 10px;
        border-color: black;
        width: 90vw;
}

.bloque{ background-color: antiquewhite;}

.circulo{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.circulo >.perfil{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    top: -180px;
    margin-left: 50px;
}

.intro{background-color:lightgray ;}
.container{
    width: 50%;
    background-color: #888;
    border-radius: 5px;
}

.skills{
    text-align: left;
    border-radius: 5px;
}

.html{width: 50%; background-color: lightgreen;}
.python{width: 80%; background-color: lightgreen;}
.javascript{width: 50%; background-color: lightgreen;}
.liderazgo{width: 80%; background-color: lightgreen;}
.ruby{width: 60%; background-color: lightgreen;}
.css{width: 50%; background-color: lightgreen;}
.excel{width: 70%; background-color: lightgreen;}
.libros{width: 90%; background-color: lightgreen;}
.ingles{width: 80%; background-color: lightgreen;}
.postgresql{width: 70%; background-color: lightgreen;}