h1 {color:darkblue}
h3 {color: darkcyan}
* {margin: 20px;
    padding: 20px;}

.Argentina{color:aqua}
*{background-color: lightgrey;}
*{font-family: 'Times New Roman', Times, serif;}

.bloque{border:2px solid blue;}

